<!doctype html>
<html>

<head>
        <title>My webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <header>
                <div>
                        <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
                                <div class="row">

                                        <ul class="main-nav">
                                                <li class="active">
                                                    <a href="/index">HOME</a></li>
                                                <li><a href="/tictactoe">PLAY</a></li>
                                                <li><a href="/info">CONTACT US</a></li>
                                                <li><a href="/contact">MORE</a></li>

                                        </ul>
                                </div>

                        </nav>
                </div>
        </header>
