<% include header %>


</head>
<body>
             
    <h1>HAVYA RAVIPATI</h1>
    <p>Results of the unit tests are available at
        <a href="test/test.html">test/test.html</a>.</p>
    <div class="circletag" id="nay">
                   <img src="images/IMG_0642.JPG" class="img-circle"  width="236" height="236">
               </div>
   
   </div>
       <iframe width="460" height="215" src="https://www.youtube.com/embed/wxQR5kokq68" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
       
    

<footer>

<p> by: Havya Ravipati </p>

<a href="https://github.com/HavyaRavipati"  class="btn btn-three">github</a>
<a href="https://www.linkedin.com/in/havya-ravipati-35998316b/"  class="btn btn-four">linkedin</a>
<a href="https://bitbucket.org/HavyaRavipati" class="btn btn-five" >Bitbucket</a>

</div>
</footer>






<% include footer %>
